.uploadBody{
    background-color: #F9FAFB;
    width:30%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
p{
    color: green;
    font-weight: bold;
}

button{
    height: 25px;
    width: 70px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #3B82F6;
    mso-border-shadow: yes;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #F3F4F6;
    border: 3px solid black;
    border-radius: 10px;
}

th {
    background: #9eb1e0;
    color: #111827;
    padding: 12px;
    text-align: left;
    border-bottom: 3px solid black;
    font-weight: 600;
    font-weight: bold;

}

td {
    background: #FFFFFF;
    color: #374151;
    padding: 12px;
    border-bottom: 2px solid #E5E7EB;
}
