.uploadFile{
    background-color: #ece5e5;
    width:95%;
    height:100vh;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
    color: #6e6767;
}

h2{
    font-weight:bolder;
    font-family: BlinkMacSystemFont;
    font-size: xx-large;
    margin-bottom: 10px;
}
