.uploadFile{
    background-color: #FFFFFF;
    width:95%;
    height:100vh;
    border: 2px solid black;
    border-radius: 5px;
    margin: 2px;
    padding: 40px;
    color: Gray ;
}

h2{
    font-weight:bolder;
    font-family: BlinkMacSystemFont;
}
